#portfolio {
    height: auto;
    .portfolio__text {
        margin-bottom: 4rem;
    }

    article article{
        @include flexCenter(center, center, column);
    }

    @import '../../styles/_cards';

}

@media only screen and (max-width: 500px) {
    #portfolio {
        height: auto;

        .portfolio__title {
            width: min-content;
        }

        .portfolio__text {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 850px) {
    #portfolio {
        .portfolio__text {
            width: 100%;
        }
    }
}