#portfolio {
    height: auto;

    .portfolio__text {
        margin-bottom: 3.5rem;
    }

    @import '../../styles/cards';

    @import '../../Effects/fadedBirectional';

}

@media only screen and (max-width: 500px) {
    #portfolio {

        .portfolio__title {
            width: min-content;
        }

        .portfolio__text {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 850px) {
    #portfolio {
        .portfolio__text {
            width: 100%;
        }
    }
}