#card-container {
    display: grid;
    // padding: 1.5rem;
    overflow: hidden;
    gap: 5rem;
    grid-template-columns: repeat(1, 100%);

    .card {
        opacity: 0;
        height: 450px;
        overflow: hidden;
        position: relative;
        border-radius: 5px;
        border: 1px solid #17171778;
        box-shadow: 5px 5px 10px 5px #171717;
        transition: transform ease-in-out 500ms;

        .card__github__link {
            right: 15px;
            bottom: 10px;
            position: absolute;

            svg {
                width: 45px;
                height: 45px;
                fill: #171717;
                background-color: #fff;
            }
        }

        &:nth-child(even) {
            direction: rtl;

            .card__github__link {
                left: 15px;
                direction: rtl;
                transform: scaleX(-1);
            }

            .card__content__info {
                direction: ltr;
            }
        }

        .card__content {
            height: 100%;
            position: relative;
            @include flexCenter(center, default, row);

            .card__logo,
            .card__content__info {
                @include flexCenter(flex-start, center, column);
            }

            .card__logo {
                width: 45%;
                height: 100%;
                position: relative;

                .card__overlay {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    transition: all ease-in 500ms;
                    background-color: rgba(28, 28, 28, 0.5);

                    &:hover {
                        background-color: rgba(28, 28, 28, 0);
                    }
                }

                .card__logo__image {
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                }
            }

            .card__content__info {
                width: 55%;
                height: 100%;
                padding: 0 2.25rem;
                background-color: #171717;
                // transition: all ease-in-out 700ms;

                .card__content__title {
                    margin-bottom: 1.25rem;
                }

                .card__content__text {
                    margin-left: 1.75rem;
                }

                .card__content__technologies {
                    width: 100%;

                    .card__content__technologies__list {
                        & li {
                            font-weight: 700;

                            &:nth-child(even) {
                                padding: 1rem;
                            }
                        }

                        @include flexCenter(center, center, row);
                    }
                }
            }
        }
    }
}

// Tablet Screnn
@media only screen and (min-width: 600px) and (max-width: 1024px) {
    #card-container {
        padding: 0;

        .card {
            height: auto;

            &:nth-child(even) {
                .card__github__link {
                    direction: ltr;
                }
            }

            .card__content {
                @include flexCenter(center, center, column);

                .card__logo,
                .card__content__info {
                    width: 100%;
                }

                .card__content__info {
                    padding: 2.25rem;
                }
            }
        }
    }
}

// Smartphone Screen
@media only screen and (min-width: 100px) and (max-width: 600px) {
    #card-container {
        padding: 0;

        .card {
            height: auto;
            overflow: hidden;

            .card__content {
                flex-direction: column;

                .card__github__link {
                    right: unset;
                    bottom: unset;
                    position: unset;

                    svg {
                        width: 45px;
                        height: 45px;
                        fill: #171717;
                        background-color: #fff;
                    }
                }

                &:nth-child(even) {
                    direction: rtl;

                    .card__github__link {
                        left: 15px;
                        direction: rtl;
                        transform: scaleX(-1);
                    }

                    .card__content__info {
                        direction: ltr;
                    }
                }

                .card__logo {
                    display: none;
                }

                .card__content__info {
                    width: 100%;
                    padding: 2.25rem;
                    align-items: center;

                    .icons {
                        width: 100%;
                        height: 50px;

                        @include flexCenter(center, center, row);

                        a{
                            height: 100%;
                        }

                        .card__github__link{
                            width: 100%;
                            width: 45px;
                            height: 45px;
                            @include flexCenter(center, center, row);
                            svg{
                                fill: #fff;
                                width: 45px;
                                height: 45px;
                                background-color: #171717;
                            }
                        }

                        .card__page__link{
                            width: 45px;
                            height: 45px;
                            margin-left: 25px;
                            background-color: #171717;
                            @include flexCenter(center, center, row);
                            svg{
                                margin: 0 auto;
                                width: 28px;
                                height: 28px;
                                fill: #fff;
                                background-color: #171717;
                            }
                        }
                    }

                    .card__content__title {
                        margin-top: 0;
                        width: 100%;
                    }

                    .card__content__text {
                        margin: 0;
                    }
                }
            }
        }
    }
}