#card-container {
    gap: 15px;
    display: grid;
    padding: 0.5rem;
    overflow: hidden;
    grid-template-columns: repeat(3, minmax(10%, 1fr));

    .card {
        // height: 400px;
        margin: 0 auto;
        max-width: 800px;
        overflow: hidden;
        position: relative;
        border-radius: 5px;
        background-color: #171717;
        border: 1px solid #3c40431d;
        transition: transform ease-in-out 500ms;
        box-shadow: 2px 2px 10px 2px #121212ac;

        &.card_hover:hover {
            transform: scale(1.1);
        }

        // &:nth-child(even) {
        //     margin: 2rem auto;
        // }

        .card__overlay {
            z-index: 7;
            position: absolute;
            transition: opacity ease-in-out 500ms;

            &,
            a {
                width: 100%;
                height: 100%;
            }

            a {
                display: block;
            }

            &.card_hover:hover {
                &~.card__content {
                    .card__content__info {
                        height: 100%;
                        background-color: #0d0d0de6;
                    }
                }
            }

        }

        .card__content {
            height: 100%;
            position: relative;
            @include flexCenter(center, center, column);

            .card__content__image {
                width: 100%;
                height: auto;
                object-fit: contain;
                transform: scale(90%);
            }

            .card__content__info {
                width: 100%;
                height: 0px;
                overflow: hidden;
                position: absolute;
                background-color: #0d0d0d00;
                transition: all ease-in-out 700ms;
                @include flexCenter(center, center, column);

                .card__content__title {
                    margin: 0;
                }

                .card__content__text {
                    padding: 0 2.5rem;
                    text-align: justify;
                }

                .card__content__technologies {
                    width: 100%;

                    .card__content__technologies__list {
                        & li {
                            font-weight: 700;

                            &:nth-child(even) {
                                padding: 1rem;
                            }
                        }

                        @include flexCenter(center, center, row);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 500px) {

    #card-container {
        width: 100%;
        gap: 20px;
        height: 250px;
        padding: 1.5rem 1rem;
        overflow-x: scroll;
        grid-auto-rows: 150px;
        grid-template-columns: repeat(3, 1fr); 

        .card {
            width: 250px;
            height: 200px;

            &.card_hover:hover {
                transform: scale(1);
            }

            &:nth-child(even) {
                margin: 0;
            }

            .card__content__info {
                display: none !important;
            }
        }
    }
}