* {
  margin: 0;
  padding: 0;
  outline: 0;
  color: #fff;
  line-height: 1.5;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

html {
  width: 100%;
  scroll-behavior: auto;
  background-color: #1C1C1C;
}

section,
header nav,
footer {
  padding: 0 3.5rem;
}

main #about,
main #portfolio {
  padding-bottom: 65px;
}

main #home,
main #portfolio,
main #about {
  -webkit-box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.2);
}

main section {
  height: 100vh;
  padding-top: 65px;
}

main section h1[class*="__title"] {
  cursor: default;
  margin-top: 25px;
  font-size: 4rem;
  text-shadow: 5px 5px 0px #3c4043c4;
}

main section p[class*="__text"] {
  max-width: 800px;
  font-size: 1.2rem;
}

#home {
  position: relative;
  padding: 0 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}

#home .home__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#home .home__content {
  top: 30%;
  left: 50%;
  z-index: 8;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#home .home__content .home__content__title {
  margin-top: 0 !important;
  font-size: 3.5rem;
  float: left;
}

#home .home__content .home__content__title:first-child {
  margin-right: 1rem;
}

#home .home__content .home__content__text {
  cursor: default;
  text-align: center;
}

@media only screen and (max-width: 850px) {
  #home .home__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #home .home__content .home__content__title:nth-child(even) {
    width: -webkit-max-content !important;
    width: -moz-max-content !important;
    width: max-content !important;
  }
}

@media only screen and (max-width: 500px) {
  #home .home__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #home .home__content .home__content__title:nth-child(even) {
    width: -webkit-max-content !important;
    width: -moz-max-content !important;
    width: max-content !important;
  }
}

#about {
  height: auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#about .about__content {
  z-index: 1;
  height: 100%;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

#about .about__content .about__technologies {
  margin-top: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: default;
      -ms-flex-pack: default;
          justify-content: default;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#about .about__content .about__technologies .about__technologies__list:first-child {
  margin-right: 10rem;
}

#about .about__content .about__technologies .about__technologies__list .technologies__item {
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
  text-shadow: 4px 4px 0px #3c4043;
}

#about .about__content .about__technologies .about__technologies__list .technologies__item:hover {
  color: #3c4043c4;
  text-shadow: 5px 5px 0px #fff;
}

#about .technologies__cubes {
  z-index: 0;
  width: 40%;
  height: 500px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#about .technologies__cubes .scene1,
#about .technologies__cubes .scene2,
#about .technologies__cubes .scene3 {
  width: 200px;
  height: 200px;
  -webkit-perspective: 400px;
          perspective: 400px;
}

#about .technologies__cubes .scene1,
#about .technologies__cubes .scene3 {
  position: absolute;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

#about .technologies__cubes .scene1 {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

#about .technologies__cubes .scene2 {
  -webkit-transform: scale(2);
          transform: scale(2);
}

#about .technologies__cubes .scene3 {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

#about .technologies__cubes .cube__outter,
#about .technologies__cubes .cube__inner,
#about .technologies__cubes .cube__inner__inner {
  width: 200px;
  height: 200px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

#about .technologies__cubes .cube__outter div[class*="corner__"],
#about .technologies__cubes .cube__inner div[class*="corner__"],
#about .technologies__cubes .cube__inner__inner div[class*="corner__"] {
  font-size: 1rem !important;
  border: 0px !important;
}

#about .technologies__cubes .cube__outter .corner__A,
#about .technologies__cubes .cube__outter .corner__B,
#about .technologies__cubes .cube__inner .corner__A,
#about .technologies__cubes .cube__inner .corner__B,
#about .technologies__cubes .cube__inner__inner .corner__A,
#about .technologies__cubes .cube__inner__inner .corner__B {
  left: 100px;
  -webkit-transform: translateZ(100px) rotateY(0deg);
          transform: translateZ(100px) rotateY(0deg);
}

#about .technologies__cubes .cube__outter .corner__C,
#about .technologies__cubes .cube__outter .corner__D,
#about .technologies__cubes .cube__inner .corner__C,
#about .technologies__cubes .cube__inner .corner__D,
#about .technologies__cubes .cube__inner__inner .corner__C,
#about .technologies__cubes .cube__inner__inner .corner__D {
  right: 100px;
  -webkit-transform: translateZ(100px) rotateY(0deg);
          transform: translateZ(100px) rotateY(0deg);
}

#about .technologies__cubes .cube__outter .corner__E,
#about .technologies__cubes .cube__outter .corner__F,
#about .technologies__cubes .cube__inner .corner__E,
#about .technologies__cubes .cube__inner .corner__F,
#about .technologies__cubes .cube__inner__inner .corner__E,
#about .technologies__cubes .cube__inner__inner .corner__F {
  left: -100px;
  -webkit-transform: translateZ(-100px) rotateY(180deg);
          transform: translateZ(-100px) rotateY(180deg);
}

#about .technologies__cubes .cube__outter .corner__G,
#about .technologies__cubes .cube__outter .corner__H,
#about .technologies__cubes .cube__inner .corner__G,
#about .technologies__cubes .cube__inner .corner__H,
#about .technologies__cubes .cube__inner__inner .corner__G,
#about .technologies__cubes .cube__inner__inner .corner__H {
  right: -100px;
  -webkit-transform: translateZ(-100px) rotateY(180deg);
          transform: translateZ(-100px) rotateY(180deg);
}

#about .technologies__cubes .cube__outter .corner__A,
#about .technologies__cubes .cube__inner .corner__A,
#about .technologies__cubes .cube__inner__inner .corner__A {
  top: -100px;
}

#about .technologies__cubes .cube__outter .corner__B,
#about .technologies__cubes .cube__inner .corner__B,
#about .technologies__cubes .cube__inner__inner .corner__B {
  top: 100px;
}

#about .technologies__cubes .cube__outter .corner__C,
#about .technologies__cubes .cube__inner .corner__C,
#about .technologies__cubes .cube__inner__inner .corner__C {
  top: 100px;
}

#about .technologies__cubes .cube__outter .corner__D,
#about .technologies__cubes .cube__inner .corner__D,
#about .technologies__cubes .cube__inner__inner .corner__D {
  top: -100px;
}

#about .technologies__cubes .cube__outter .corner__E,
#about .technologies__cubes .cube__inner .corner__E,
#about .technologies__cubes .cube__inner__inner .corner__E {
  top: 100px;
}

#about .technologies__cubes .cube__outter .corner__F,
#about .technologies__cubes .cube__inner .corner__F,
#about .technologies__cubes .cube__inner__inner .corner__F {
  top: -100px;
}

#about .technologies__cubes .cube__outter .corner__G,
#about .technologies__cubes .cube__inner .corner__G,
#about .technologies__cubes .cube__inner__inner .corner__G {
  top: 100px;
}

#about .technologies__cubes .cube__outter .corner__H,
#about .technologies__cubes .cube__inner .corner__H,
#about .technologies__cubes .cube__inner__inner .corner__H {
  top: -100px;
}

#about .technologies__cubes .cube__outter {
  -webkit-animation: outter 25s linear infinite alternate;
          animation: outter 25s linear infinite alternate;
  -webkit-transform: translateZ(-50px) rotateY(0deg) rotateX(0deg) rotateZ(0deg);
          transform: translateZ(-50px) rotateY(0deg) rotateX(0deg) rotateZ(0deg);
}

#about .technologies__cubes .cube__inner {
  -webkit-animation: inner 15s linear infinite alternate;
          animation: inner 15s linear infinite alternate;
  -webkit-transform: translateZ(-50px) rotateY(0deg) rotateX(90deg) rotateZ(-135deg);
          transform: translateZ(-50px) rotateY(0deg) rotateX(90deg) rotateZ(-135deg);
}

#about .technologies__cubes .cube__inner__inner {
  -webkit-animation: innerInner 20s linear infinite alternate;
          animation: innerInner 20s linear infinite alternate;
  -webkit-transform: translateZ(-50px) rotateY(0deg) rotateX(-90deg) rotateZ(135deg);
          transform: translateZ(-50px) rotateY(0deg) rotateX(-90deg) rotateZ(135deg);
}

@-webkit-keyframes outter {
  0% {
    -webkit-transform: translateZ(-50px) rotateY(21.18deg) rotateX(21.18deg) rotateZ(21.18deg);
            transform: translateZ(-50px) rotateY(21.18deg) rotateX(21.18deg) rotateZ(21.18deg);
  }
  5% {
    -webkit-transform: translateZ(-50px) rotateY(42.36deg) rotateX(42.36deg) rotateZ(42.36deg);
            transform: translateZ(-50px) rotateY(42.36deg) rotateX(42.36deg) rotateZ(42.36deg);
  }
  10% {
    -webkit-transform: translateZ(-50px) rotateY(63.54deg) rotateX(63.54deg) rotateZ(63.54deg);
            transform: translateZ(-50px) rotateY(63.54deg) rotateX(63.54deg) rotateZ(63.54deg);
  }
  15% {
    -webkit-transform: translateZ(-50px) rotateY(84.72deg) rotateX(84.72deg) rotateZ(84.72deg);
            transform: translateZ(-50px) rotateY(84.72deg) rotateX(84.72deg) rotateZ(84.72deg);
  }
  20% {
    -webkit-transform: translateZ(-50px) rotateY(105.9deg) rotateX(105.9deg) rotateZ(105.9deg);
            transform: translateZ(-50px) rotateY(105.9deg) rotateX(105.9deg) rotateZ(105.9deg);
  }
  25% {
    -webkit-transform: translateZ(-50px) rotateY(127.8deg) rotateX(127.8deg) rotateZ(127.8deg);
            transform: translateZ(-50px) rotateY(127.8deg) rotateX(127.8deg) rotateZ(127.8deg);
  }
  30% {
    -webkit-transform: translateZ(-50px) rotateY(148.26deg) rotateX(148.26deg) rotateZ(148.26deg);
            transform: translateZ(-50px) rotateY(148.26deg) rotateX(148.26deg) rotateZ(148.26deg);
  }
  35% {
    -webkit-transform: translateZ(-50px) rotateY(169.44deg) rotateX(169.44deg) rotateZ(169.44deg);
            transform: translateZ(-50px) rotateY(169.44deg) rotateX(169.44deg) rotateZ(169.44deg);
  }
  40% {
    -webkit-transform: translateZ(-50px) rotateY(190.62deg) rotateX(190.62deg) rotateZ(190.62deg);
            transform: translateZ(-50px) rotateY(190.62deg) rotateX(190.62deg) rotateZ(190.62deg);
  }
  45% {
    -webkit-transform: translateZ(-50px) rotateY(211.8deg) rotateX(211.8deg) rotateZ(211.8deg);
            transform: translateZ(-50px) rotateY(211.8deg) rotateX(211.8deg) rotateZ(211.8deg);
  }
  50% {
    -webkit-transform: translateZ(-50px) rotateY(232.98deg) rotateX(232.98deg) rotateZ(232.98deg);
            transform: translateZ(-50px) rotateY(232.98deg) rotateX(232.98deg) rotateZ(232.98deg);
  }
  55% {
    -webkit-transform: translateZ(-50px) rotateY(254.16deg) rotateX(254.16deg) rotateZ(254.16deg);
            transform: translateZ(-50px) rotateY(254.16deg) rotateX(254.16deg) rotateZ(254.16deg);
  }
  60% {
    -webkit-transform: translateZ(-50px) rotateY(275.34deg) rotateX(275.34deg) rotateZ(275.34deg);
            transform: translateZ(-50px) rotateY(275.34deg) rotateX(275.34deg) rotateZ(275.34deg);
  }
  65% {
    -webkit-transform: translateZ(-50px) rotateY(296.52deg) rotateX(296.52deg) rotateZ(296.52deg);
            transform: translateZ(-50px) rotateY(296.52deg) rotateX(296.52deg) rotateZ(296.52deg);
  }
  70% {
    -webkit-transform: translateZ(-50px) rotateY(317.7deg) rotateX(317.7deg) rotateZ(317.7deg);
            transform: translateZ(-50px) rotateY(317.7deg) rotateX(317.7deg) rotateZ(317.7deg);
  }
  75% {
    -webkit-transform: translateZ(-50px) rotateY(338.88deg) rotateX(338.88deg) rotateZ(338.88deg);
            transform: translateZ(-50px) rotateY(338.88deg) rotateX(338.88deg) rotateZ(338.88deg);
  }
  80% {
    -webkit-transform: translateZ(-50px) rotateY(360deg) rotateX(360deg) rotateZ(360deg);
            transform: translateZ(-50px) rotateY(360deg) rotateX(360deg) rotateZ(360deg);
  }
  100% {
    -webkit-transform: translateZ(-50px) rotateY(360deg) rotateX(360deg) rotateZ(360deg);
            transform: translateZ(-50px) rotateY(360deg) rotateX(360deg) rotateZ(360deg);
  }
}

@keyframes outter {
  0% {
    -webkit-transform: translateZ(-50px) rotateY(21.18deg) rotateX(21.18deg) rotateZ(21.18deg);
            transform: translateZ(-50px) rotateY(21.18deg) rotateX(21.18deg) rotateZ(21.18deg);
  }
  5% {
    -webkit-transform: translateZ(-50px) rotateY(42.36deg) rotateX(42.36deg) rotateZ(42.36deg);
            transform: translateZ(-50px) rotateY(42.36deg) rotateX(42.36deg) rotateZ(42.36deg);
  }
  10% {
    -webkit-transform: translateZ(-50px) rotateY(63.54deg) rotateX(63.54deg) rotateZ(63.54deg);
            transform: translateZ(-50px) rotateY(63.54deg) rotateX(63.54deg) rotateZ(63.54deg);
  }
  15% {
    -webkit-transform: translateZ(-50px) rotateY(84.72deg) rotateX(84.72deg) rotateZ(84.72deg);
            transform: translateZ(-50px) rotateY(84.72deg) rotateX(84.72deg) rotateZ(84.72deg);
  }
  20% {
    -webkit-transform: translateZ(-50px) rotateY(105.9deg) rotateX(105.9deg) rotateZ(105.9deg);
            transform: translateZ(-50px) rotateY(105.9deg) rotateX(105.9deg) rotateZ(105.9deg);
  }
  25% {
    -webkit-transform: translateZ(-50px) rotateY(127.8deg) rotateX(127.8deg) rotateZ(127.8deg);
            transform: translateZ(-50px) rotateY(127.8deg) rotateX(127.8deg) rotateZ(127.8deg);
  }
  30% {
    -webkit-transform: translateZ(-50px) rotateY(148.26deg) rotateX(148.26deg) rotateZ(148.26deg);
            transform: translateZ(-50px) rotateY(148.26deg) rotateX(148.26deg) rotateZ(148.26deg);
  }
  35% {
    -webkit-transform: translateZ(-50px) rotateY(169.44deg) rotateX(169.44deg) rotateZ(169.44deg);
            transform: translateZ(-50px) rotateY(169.44deg) rotateX(169.44deg) rotateZ(169.44deg);
  }
  40% {
    -webkit-transform: translateZ(-50px) rotateY(190.62deg) rotateX(190.62deg) rotateZ(190.62deg);
            transform: translateZ(-50px) rotateY(190.62deg) rotateX(190.62deg) rotateZ(190.62deg);
  }
  45% {
    -webkit-transform: translateZ(-50px) rotateY(211.8deg) rotateX(211.8deg) rotateZ(211.8deg);
            transform: translateZ(-50px) rotateY(211.8deg) rotateX(211.8deg) rotateZ(211.8deg);
  }
  50% {
    -webkit-transform: translateZ(-50px) rotateY(232.98deg) rotateX(232.98deg) rotateZ(232.98deg);
            transform: translateZ(-50px) rotateY(232.98deg) rotateX(232.98deg) rotateZ(232.98deg);
  }
  55% {
    -webkit-transform: translateZ(-50px) rotateY(254.16deg) rotateX(254.16deg) rotateZ(254.16deg);
            transform: translateZ(-50px) rotateY(254.16deg) rotateX(254.16deg) rotateZ(254.16deg);
  }
  60% {
    -webkit-transform: translateZ(-50px) rotateY(275.34deg) rotateX(275.34deg) rotateZ(275.34deg);
            transform: translateZ(-50px) rotateY(275.34deg) rotateX(275.34deg) rotateZ(275.34deg);
  }
  65% {
    -webkit-transform: translateZ(-50px) rotateY(296.52deg) rotateX(296.52deg) rotateZ(296.52deg);
            transform: translateZ(-50px) rotateY(296.52deg) rotateX(296.52deg) rotateZ(296.52deg);
  }
  70% {
    -webkit-transform: translateZ(-50px) rotateY(317.7deg) rotateX(317.7deg) rotateZ(317.7deg);
            transform: translateZ(-50px) rotateY(317.7deg) rotateX(317.7deg) rotateZ(317.7deg);
  }
  75% {
    -webkit-transform: translateZ(-50px) rotateY(338.88deg) rotateX(338.88deg) rotateZ(338.88deg);
            transform: translateZ(-50px) rotateY(338.88deg) rotateX(338.88deg) rotateZ(338.88deg);
  }
  80% {
    -webkit-transform: translateZ(-50px) rotateY(360deg) rotateX(360deg) rotateZ(360deg);
            transform: translateZ(-50px) rotateY(360deg) rotateX(360deg) rotateZ(360deg);
  }
  100% {
    -webkit-transform: translateZ(-50px) rotateY(360deg) rotateX(360deg) rotateZ(360deg);
            transform: translateZ(-50px) rotateY(360deg) rotateX(360deg) rotateZ(360deg);
  }
}

@-webkit-keyframes inner {
  0% {
    -webkit-transform: translateZ(-50px) rotateY(-150deg) rotateX(30deg) rotateZ(-36deg);
            transform: translateZ(-50px) rotateY(-150deg) rotateX(30deg) rotateZ(-36deg);
  }
  20% {
    -webkit-transform: translateZ(-50px) rotateY(-120deg) rotateX(60deg) rotateZ(-72deg);
            transform: translateZ(-50px) rotateY(-120deg) rotateX(60deg) rotateZ(-72deg);
  }
  40% {
    -webkit-transform: translateZ(-50px) rotateY(-90deg) rotateX(90deg) rotateZ(-144deg);
            transform: translateZ(-50px) rotateY(-90deg) rotateX(90deg) rotateZ(-144deg);
  }
  60% {
    -webkit-transform: translateZ(-50px) rotateY(-60deg) rotateX(120deg) rotateZ(-216deg);
            transform: translateZ(-50px) rotateY(-60deg) rotateX(120deg) rotateZ(-216deg);
  }
  80% {
    -webkit-transform: translateZ(-50px) rotateY(-30deg) rotateX(150deg) rotateZ(-288deg);
            transform: translateZ(-50px) rotateY(-30deg) rotateX(150deg) rotateZ(-288deg);
  }
  100% {
    -webkit-transform: translateZ(-50px) rotateY(180deg) rotateX(180deg) rotateZ(-360deg);
            transform: translateZ(-50px) rotateY(180deg) rotateX(180deg) rotateZ(-360deg);
  }
}

@keyframes inner {
  0% {
    -webkit-transform: translateZ(-50px) rotateY(-150deg) rotateX(30deg) rotateZ(-36deg);
            transform: translateZ(-50px) rotateY(-150deg) rotateX(30deg) rotateZ(-36deg);
  }
  20% {
    -webkit-transform: translateZ(-50px) rotateY(-120deg) rotateX(60deg) rotateZ(-72deg);
            transform: translateZ(-50px) rotateY(-120deg) rotateX(60deg) rotateZ(-72deg);
  }
  40% {
    -webkit-transform: translateZ(-50px) rotateY(-90deg) rotateX(90deg) rotateZ(-144deg);
            transform: translateZ(-50px) rotateY(-90deg) rotateX(90deg) rotateZ(-144deg);
  }
  60% {
    -webkit-transform: translateZ(-50px) rotateY(-60deg) rotateX(120deg) rotateZ(-216deg);
            transform: translateZ(-50px) rotateY(-60deg) rotateX(120deg) rotateZ(-216deg);
  }
  80% {
    -webkit-transform: translateZ(-50px) rotateY(-30deg) rotateX(150deg) rotateZ(-288deg);
            transform: translateZ(-50px) rotateY(-30deg) rotateX(150deg) rotateZ(-288deg);
  }
  100% {
    -webkit-transform: translateZ(-50px) rotateY(180deg) rotateX(180deg) rotateZ(-360deg);
            transform: translateZ(-50px) rotateY(180deg) rotateX(180deg) rotateZ(-360deg);
  }
}

@-webkit-keyframes innerInner {
  0% {
    -webkit-transform: translateZ(-50px) rotateY(0deg) rotateX(-240deg) rotateZ(36deg);
            transform: translateZ(-50px) rotateY(0deg) rotateX(-240deg) rotateZ(36deg);
  }
  20% {
    -webkit-transform: translateZ(-50px) rotateY(-72deg) rotateX(-210deg) rotateZ(72deg);
            transform: translateZ(-50px) rotateY(-72deg) rotateX(-210deg) rotateZ(72deg);
  }
  40% {
    -webkit-transform: translateZ(-50px) rotateY(-144deg) rotateX(-180deg) rotateZ(144deg);
            transform: translateZ(-50px) rotateY(-144deg) rotateX(-180deg) rotateZ(144deg);
  }
  60% {
    -webkit-transform: translateZ(-50px) rotateY(-216deg) rotateX(-150deg) rotateZ(216deg);
            transform: translateZ(-50px) rotateY(-216deg) rotateX(-150deg) rotateZ(216deg);
  }
  80% {
    -webkit-transform: translateZ(-50px) rotateY(-288deg) rotateX(-120deg) rotateZ(288deg);
            transform: translateZ(-50px) rotateY(-288deg) rotateX(-120deg) rotateZ(288deg);
  }
  100% {
    -webkit-transform: translateZ(-50px) rotateY(-360deg) rotateX(-90deg) rotateZ(360deg);
            transform: translateZ(-50px) rotateY(-360deg) rotateX(-90deg) rotateZ(360deg);
  }
}

@keyframes innerInner {
  0% {
    -webkit-transform: translateZ(-50px) rotateY(0deg) rotateX(-240deg) rotateZ(36deg);
            transform: translateZ(-50px) rotateY(0deg) rotateX(-240deg) rotateZ(36deg);
  }
  20% {
    -webkit-transform: translateZ(-50px) rotateY(-72deg) rotateX(-210deg) rotateZ(72deg);
            transform: translateZ(-50px) rotateY(-72deg) rotateX(-210deg) rotateZ(72deg);
  }
  40% {
    -webkit-transform: translateZ(-50px) rotateY(-144deg) rotateX(-180deg) rotateZ(144deg);
            transform: translateZ(-50px) rotateY(-144deg) rotateX(-180deg) rotateZ(144deg);
  }
  60% {
    -webkit-transform: translateZ(-50px) rotateY(-216deg) rotateX(-150deg) rotateZ(216deg);
            transform: translateZ(-50px) rotateY(-216deg) rotateX(-150deg) rotateZ(216deg);
  }
  80% {
    -webkit-transform: translateZ(-50px) rotateY(-288deg) rotateX(-120deg) rotateZ(288deg);
            transform: translateZ(-50px) rotateY(-288deg) rotateX(-120deg) rotateZ(288deg);
  }
  100% {
    -webkit-transform: translateZ(-50px) rotateY(-360deg) rotateX(-90deg) rotateZ(360deg);
            transform: translateZ(-50px) rotateY(-360deg) rotateX(-90deg) rotateZ(360deg);
  }
}

#about .technologies__cubes .cube__face {
  width: 200px;
  height: 200px;
  position: absolute;
  line-height: 200px;
}

#about .technologies__cubes .cube__outter .cube__face .cube__face,
#about .technologies__cubes .cube__inner .cube__face .cube__face,
#about .technologies__cubes .cube__inner__inner .cube__face .cube__face {
  border: 2px solid white;
}

#about .technologies__cubes .cube__outter .cube__face .cube__face {
  border-color: #3c404331;
  -webkit-animation: outterStroke 15s linear infinite alternate;
          animation: outterStroke 15s linear infinite alternate;
}

#about .technologies__cubes .cube__inner .cube__face .cube__face {
  border-color: #3c40439a;
  -webkit-animation: innerStroke 20s linear infinite alternate;
          animation: innerStroke 20s linear infinite alternate;
}

#about .technologies__cubes .cube__inner__inner .cube__face .cube__face {
  border-color: #3c4043;
  -webkit-animation: innerInnerStroke 25s linear infinite alternate;
          animation: innerInnerStroke 25s linear infinite alternate;
}

@-webkit-keyframes outterStroke {
  0% {
    border-radius: 5%;
    border-color: #3c40433b;
  }
  20% {
    border-radius: 12%;
  }
  40% {
    border-radius: 24%;
  }
  60% {
    border-radius: 36%;
  }
  80% {
    border-radius: 48%;
  }
  100% {
    border-radius: 60%;
    border-color: #3c404320;
  }
}

@keyframes outterStroke {
  0% {
    border-radius: 5%;
    border-color: #3c40433b;
  }
  20% {
    border-radius: 12%;
  }
  40% {
    border-radius: 24%;
  }
  60% {
    border-radius: 36%;
  }
  80% {
    border-radius: 48%;
  }
  100% {
    border-radius: 60%;
    border-color: #3c404320;
  }
}

@-webkit-keyframes innerStroke {
  0% {
    border-radius: 5%;
    border-color: #3c4043ab;
  }
  20% {
    border-radius: 12%;
  }
  40% {
    border-radius: 24%;
  }
  60% {
    border-radius: 36%;
  }
  80% {
    border-radius: 48%;
  }
  100% {
    border-radius: 60%;
    border-color: #3c40436d;
  }
}

@keyframes innerStroke {
  0% {
    border-radius: 5%;
    border-color: #3c4043ab;
  }
  20% {
    border-radius: 12%;
  }
  40% {
    border-radius: 24%;
  }
  60% {
    border-radius: 36%;
  }
  80% {
    border-radius: 48%;
  }
  100% {
    border-radius: 60%;
    border-color: #3c40436d;
  }
}

@-webkit-keyframes innerInnerStroke {
  0% {
    border-radius: 5%;
    border-color: #3c4043;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0);
            box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0);
  }
  20% {
    border-radius: 12%;
  }
  40% {
    border-radius: 24%;
  }
  60% {
    border-radius: 36%;
  }
  80% {
    border-radius: 48%;
  }
  100% {
    border-radius: 60%;
    border-color: rgba(255, 255, 255, 0.508);
    -webkit-box-shadow: 1px 1px 4px 1px rgba(255, 255, 255, 0.508);
            box-shadow: 1px 1px 4px 1px rgba(255, 255, 255, 0.508);
  }
}

@keyframes innerInnerStroke {
  0% {
    border-radius: 5%;
    border-color: #3c4043;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0);
            box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0);
  }
  20% {
    border-radius: 12%;
  }
  40% {
    border-radius: 24%;
  }
  60% {
    border-radius: 36%;
  }
  80% {
    border-radius: 48%;
  }
  100% {
    border-radius: 60%;
    border-color: rgba(255, 255, 255, 0.508);
    -webkit-box-shadow: 1px 1px 4px 1px rgba(255, 255, 255, 0.508);
            box-shadow: 1px 1px 4px 1px rgba(255, 255, 255, 0.508);
  }
}

#about .technologies__cubes .cube__face--front {
  -webkit-transform: rotateY(0deg) translateZ(100px);
          transform: rotateY(0deg) translateZ(100px);
}

#about .technologies__cubes .cube__face--right {
  -webkit-transform: rotateY(90deg) translateZ(100px);
          transform: rotateY(90deg) translateZ(100px);
}

#about .technologies__cubes .cube__face--back {
  -webkit-transform: rotateY(180deg) translateZ(100px);
          transform: rotateY(180deg) translateZ(100px);
}

#about .technologies__cubes .cube__face--left {
  -webkit-transform: rotateY(-90deg) translateZ(100px);
          transform: rotateY(-90deg) translateZ(100px);
}

#about .technologies__cubes .cube__face--top {
  -webkit-transform: rotateX(90deg) translateZ(100px);
          transform: rotateX(90deg) translateZ(100px);
}

#about .technologies__cubes .cube__face--bottom {
  -webkit-transform: rotateX(-90deg) translateZ(100px);
          transform: rotateX(-90deg) translateZ(100px);
}

@media only screen and (max-width: 500px) {
  #about .technologies__cubes {
    width: 100%;
    height: 300px;
    margin-top: 2.5rem;
  }
  #about .technologies__cubes .scene2 {
    -webkit-transform: scale(1.2) !important;
            transform: scale(1.2) !important;
  }
  #about .technologies__cubes .scene1 {
    -webkit-transform: scale(0.7) !important;
            transform: scale(0.7) !important;
  }
  #about .technologies__cubes .scene3 {
    -webkit-transform: scale(0.4) !important;
            transform: scale(0.4) !important;
  }
}

@media only screen and (max-width: 850px) {
  #about .technologies__cubes .scene1 {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  #about .technologies__cubes .scene2 {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  #about .technologies__cubes .scene3 {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}

@media only screen and (max-width: 500px) {
  #about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about .about__content .about__technologies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #about .about__content .about__technologies .about__technologies__list:first-child {
    margin-right: 0;
  }
  #about .about__title {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
  #about .about__text {
    width: 100%;
  }
}

#header {
  top: 0;
  z-index: 9;
  width: 100%;
  height: auto;
  position: fixed;
  overflow: hidden;
  background-color: #1c1c1c;
  -webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

#header #menuCheck {
  display: none;
}

#header .header__navbar {
  height: 55px;
  overflow: hidden;
  padding: 0.5rem 1rem;
  -webkit-transition: all ease-in-out 200ms;
  transition: all ease-in-out 200ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#header .header__navbar.scroll-down {
  height: 0px !important;
  padding: 0rem 1rem !important;
}

#header .header__navbar .header__navbar__list .header__navbar__brand {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 5px 2px #4527a0;
}

#header .header__navbar .header__navbar__list .header__navbar__brand__image {
  width: 45px;
  height: auto;
}

#header .header__navbar .header__navbar__list:first-child .header__navbar__item:last-child {
  display: none;
}

#header .header__navbar .header__navbar__list:first-child .header__navbar__item:last-child label {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#header .header__navbar .header__navbar__list:first-child .header__navbar__item:last-child label .header__navbar__svg {
  width: 40px;
  height: 40px;
}

#header .header__navbar .header__navbar__list:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#header .header__navbar .header__navbar__list:nth-child(2) .header__navbar__item .header__navbar__link {
  font-size: 1.3rem;
  color: #6a6b6cc4;
  -webkit-transition: color ease-out 250ms;
  transition: color ease-out 250ms;
}

#header .header__navbar .header__navbar__list:nth-child(2) .header__navbar__item .header__navbar__link.active {
  color: #fff;
}

#header .header__navbar .header__navbar__list:nth-child(2) .header__navbar__item .header__navbar__link:hover {
  color: #fff;
}

#header .header__navbar .header__navbar__list:nth-child(2) .header__navbar__item:nth-child(even) {
  margin: 0 1.2rem;
}

#header .header__navbar .header__navbar__list:nth-child(3) {
  display: none;
}

@media only screen and (max-width: 500px) {
  #header #menuCheck ~ .header__navbar .header__navbar__svg--front {
    fill: #fff;
  }
  #header #menuCheck ~ .header__navbar .header__navbar__svg--back {
    fill: #3c4043;
  }
  #header #menuCheck:checked ~ .header__navbar .header__navbar__svg--front {
    fill: #3c4043;
  }
  #header #menuCheck:checked ~ .header__navbar .header__navbar__svg--back {
    fill: #fff;
  }
  #header #menuCheck:checked ~ .header__navbar {
    padding: 1.5rem;
    height: 300px;
  }
  #header .header__navbar {
    height: 65px;
    padding: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #header .header__navbar .header__navbar__list:first-child {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #header .header__navbar .header__navbar__list:first-child .header__navbar__item:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  #header .header__navbar .header__navbar__list:first-child .header__navbar__item:last-child .header__navbar__svg {
    -webkit-transition: fill ease-in-out 500ms;
    transition: fill ease-in-out 500ms;
  }
  #header .header__navbar .header__navbar__list:first-child .header__navbar__item:last-child .header__navbar__svg--back {
    fill: #3c4043;
  }
  #header .header__navbar .header__navbar__list:first-child .header__navbar__item:last-child .header__navbar__svg--front {
    top: -2px;
    left: -2px;
    fill: #fff;
    cursor: pointer;
    position: absolute;
  }
  #header .header__navbar .header__navbar__list:first-child .header__navbar__item:last-child .header__navbar__svg--front:hover {
    fill: #3c4043;
  }
  #header .header__navbar .header__navbar__list:first-child .header__navbar__item:last-child .header__navbar__svg--front:hover ~ .header__navbar__svg--back {
    fill: #fff;
  }
  #header .header__navbar .header__navbar__list:nth-child(2) {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #header .header__navbar .header__navbar__list:nth-child(2) .header__navbar__item,
  #header .header__navbar .header__navbar__list:nth-child(2) .header__navbar__link {
    width: 100%;
    display: block;
  }
  #header .header__navbar .header__navbar__list:nth-child(2) .header__navbar__item {
    padding: 1rem 1rem 1rem 0rem;
    border-bottom: 1px solid #343638;
  }
  #header .header__navbar .header__navbar__list:nth-child(2) .header__navbar__link {
    font-size: 1.5rem !important;
  }
}

#footer {
  margin-top: 2.5rem;
}

#footer .footer__list .footer__item .footer__copyrights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#footer .footer__list .footer__item .footer__copyrights,
#footer .footer__list .footer__item .footer__copyrights a {
  color: #afafaf;
}

#footer .footer__list .footer__item .footer__copyrights .footer__copyrights__link:hover {
  color: #e4e4e4;
}

@media only screen and (max-width: 500px) {
  #footer .footer__list .footer__item .footer__copyrights {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#social-midias {
  left: 1px;
  bottom: 5px;
  width: 3.3rem;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#social-midias .social-midias__list .social-midias__list__item:nth-child(even) {
  padding: 5px 0;
}

#social-midias .social-midias__list .social-midias__list__item .social-midias__link__image {
  width: 40px;
  height: 40px;
  fill: #fff;
  -webkit-box-shadow: 4px 4px 0px #3c4043;
          box-shadow: 4px 4px 0px #3c4043;
  -webkit-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
}

#social-midias .social-midias__list .social-midias__list__item .social-midias__link__image:hover {
  fill: #3c4043;
  -webkit-box-shadow: 5px 5px 0px #fff;
          box-shadow: 5px 5px 0px #fff;
}

@media only screen and (max-width: 500px) {
  #social-midias .social-midias__list .social-midias__list__item .social-midias__link__image {
    width: 32px;
    height: 32px;
  }
}

#contact {
  height: auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact .contact__header .contact__header__title {
  text-align: center;
}

#contact .contact__header .contact__header__text {
  text-align: center;
  margin-bottom: 3.5rem;
}

#contact .contact__form {
  width: 100%;
  max-width: 800px;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: default;
      -ms-flex-pack: default;
          justify-content: default;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact .contact__form .contact__inputs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contact .contact__form .contact__inputs input:nth-child(even) {
  margin-left: 5px;
}

#contact .contact__form .form__text,
#contact .contact__form .form__message,
#contact .contact__form #from__submit {
  width: 100%;
  height: 60px;
  padding: 15px;
  color: #cccccc;
  margin-bottom: 5px;
  border: 1px solid #3436386c;
  background-color: #171717;
}

#contact .contact__form #from__submit {
  cursor: pointer;
  font-size: 1rem;
  -webkit-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
}

#contact .contact__form #from__submit:hover {
  color: #fff;
  background-color: #121212;
}

#contact .contact__form .form__message {
  height: 200px;
}

@media only screen and (max-width: 500px) {
  #contact .contact__form .form__text {
    font-size: 1rem;
  }
  #contact .contact__form .contact__inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact .contact__form .contact__inputs input:nth-child(even) {
    margin-left: 0;
  }
}

#portfolio {
  height: auto;
}

#portfolio .portfolio__text {
  margin-bottom: 3.5rem;
}

#portfolio #card-container {
  gap: 5px;
  display: -ms-grid;
  display: grid;
  padding: 0.5rem;
  overflow: hidden;
  -ms-grid-columns: (minmax(100%, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
}

#portfolio #card-container .card {
  height: 450px;
  margin: 0 auto;
  max-width: 800px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  background-color: #171717;
  border: 1px solid #3c40431d;
  -webkit-transition: -webkit-transform ease-in-out 500ms;
  transition: -webkit-transform ease-in-out 500ms;
  transition: transform ease-in-out 500ms;
  transition: transform ease-in-out 500ms, -webkit-transform ease-in-out 500ms;
  -webkit-box-shadow: 2px 2px 10px 2px #121212ac;
          box-shadow: 2px 2px 10px 2px #121212ac;
}

#portfolio #card-container .card.card_hover:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#portfolio #card-container .card:nth-child(even) {
  margin: 2rem auto;
}

#portfolio #card-container .card .card__overlay {
  z-index: 7;
  position: absolute;
  -webkit-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
}

#portfolio #card-container .card .card__overlay,
#portfolio #card-container .card .card__overlay a {
  width: 100%;
  height: 100%;
}

#portfolio #card-container .card .card__overlay a {
  display: block;
}

#portfolio #card-container .card .card__overlay.card_hover:hover ~ .card__content .card__content__info {
  height: 100%;
  background-color: #0d0d0de6;
}

#portfolio #card-container .card .card__content {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#portfolio #card-container .card .card__content .card__content__image {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: scale(90%);
          transform: scale(90%);
}

#portfolio #card-container .card .card__content .card__content__info {
  width: 100%;
  height: 0px;
  overflow: hidden;
  position: absolute;
  background-color: #0d0d0d00;
  -webkit-transition: all ease-in-out 700ms;
  transition: all ease-in-out 700ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#portfolio #card-container .card .card__content .card__content__info .card__content__title {
  margin: 0;
}

#portfolio #card-container .card .card__content .card__content__info .card__content__text {
  padding: 0 2.5rem;
  text-align: justify;
}

#portfolio #card-container .card .card__content .card__content__info .card__content__technologies {
  width: 100%;
}

#portfolio #card-container .card .card__content .card__content__info .card__content__technologies .card__content__technologies__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#portfolio #card-container .card .card__content .card__content__info .card__content__technologies .card__content__technologies__list li {
  font-weight: 700;
}

#portfolio #card-container .card .card__content .card__content__info .card__content__technologies .card__content__technologies__list li:nth-child(even) {
  padding: 1rem;
}

@media only screen and (max-width: 500px) {
  #portfolio #card-container {
    width: 100%;
    gap: 20px;
    height: 250px;
    padding: 1.5rem 1rem;
    overflow-x: scroll;
    grid-auto-rows: 150px;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  #portfolio #card-container .card {
    width: 250px;
    height: 200px;
  }
  #portfolio #card-container .card.card_hover:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  #portfolio #card-container .card:nth-child(even) {
    margin: 0;
  }
  #portfolio #card-container .card .card__content__info {
    display: none !important;
  }
}

#portfolio .--fadetoleft {
  -webkit-animation: fadeToLeft 1s;
          animation: fadeToLeft 1s;
}

#portfolio .--fadetoright {
  -webkit-animation: fadetoright 1s;
          animation: fadetoright 1s;
}

@-webkit-keyframes fadeToLeft {
  0% {
    right: 100%;
    opacity: 0;
  }
  25% {
    opacity: 15%;
  }
  50% {
    opacity: 25%;
  }
  75% {
    opacity: 65%;
  }
  100% {
    right: 0px;
    opacity: 100%;
  }
}

@keyframes fadeToLeft {
  0% {
    right: 100%;
    opacity: 0;
  }
  25% {
    opacity: 15%;
  }
  50% {
    opacity: 25%;
  }
  75% {
    opacity: 65%;
  }
  100% {
    right: 0px;
    opacity: 100%;
  }
}

@-webkit-keyframes fadetoright {
  0% {
    right: -100%;
    opacity: 0;
  }
  25% {
    opacity: 15%;
  }
  50% {
    opacity: 25%;
  }
  75% {
    opacity: 65%;
  }
  100% {
    right: 0px;
    opacity: 100%;
  }
}

@keyframes fadetoright {
  0% {
    right: -100%;
    opacity: 0;
  }
  25% {
    opacity: 15%;
  }
  50% {
    opacity: 25%;
  }
  75% {
    opacity: 65%;
  }
  100% {
    right: 0px;
    opacity: 100%;
  }
}

@media only screen and (max-width: 500px) {
  #portfolio .portfolio__title {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
  #portfolio .portfolio__text {
    width: 100%;
  }
}

@media only screen and (max-width: 850px) {
  #portfolio .portfolio__text {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  main section h1[class*="__title"] {
    font-size: 4rem;
  }
  main section p[class*="__text"] {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 850px) {
  main section h1[class*="__title"] {
    font-size: 4rem;
  }
  main section p[class*="__text"] {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=styles.css.map */