* {
  margin: 0;
  padding: 0;
  outline: 0;
  color: #fff;
  line-height: 1.5;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

html {
  scroll-behavior: smooth;
  background-color: #1C1C1C;
}

section,
header nav,
footer {
  padding: 0 3.5rem;
}

main #section-home,
main #section-portfolio,
main #section-about {
  -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
}

main section {
  height: 100vh;
  padding-top: 45px;
  overflow: hidden;
}

main section h1[class*="__title"] {
  font-size: 3.5rem;
  cursor: default;
  text-shadow: 5px 5px 0px #3c4043c4;
}

main section p[class*="__text"] {
  max-width: 550px;
  font-size: 1.2rem;
}

#section-home {
  position: relative;
  padding: 0 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

#section-home .section-home__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#section-home .section-home__content {
  top: 30%;
  left: 50%;
  z-index: 8;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#section-home .section-home__content .section-home__content__title {
  font-size: 3rem;
  float: left;
}

#section-home .section-home__content .section-home__content__title:first-child {
  margin-right: 1rem;
}

#section-home .section-home__content .section-home__content__text {
  cursor: default;
  text-align: center;
}

@media only screen and (max-width: 850px) {
  #section-home .section-home__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #section-home .section-home__content .section-home__content__title:nth-child(even) {
    width: -webkit-max-content !important;
    width: -moz-max-content !important;
    width: max-content !important;
  }
}

@media only screen and (max-width: 500px) {
  #section-home .section-home__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #section-home .section-home__content .section-home__content__title:nth-child(even) {
    width: -webkit-max-content !important;
    width: -moz-max-content !important;
    width: max-content !important;
  }
}

#section-about {
  height: auto;
  min-height: 100vh;
  overflow: scroll;
}

#section-about .section-about__content {
  height: 100%;
}

#section-about .section-about__text {
  padding-right: 2rem;
}

#section-about #card-container {
  gap: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100%, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
}

#section-about #card-container .card {
  height: 450px;
  margin: 0 auto;
  max-width: 800px;
  overflow: hidden;
  position: relative;
  border-radius: 2px;
  background-color: #171717;
  border: 1px solid #3c40431d;
  -webkit-box-shadow: 3px 2px 3px rgba(39, 38, 38, 0.088);
          box-shadow: 3px 2px 3px rgba(39, 38, 38, 0.088);
}

#section-about #card-container .card:nth-child(even) {
  margin: 2rem auto;
}

#section-about #card-container .card .card__overlay {
  z-index: 7;
  opacity: 15%;
  position: absolute;
  background-color: black;
  -webkit-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
}

#section-about #card-container .card .card__overlay,
#section-about #card-container .card .card__overlay a {
  width: 100%;
  height: 100%;
}

#section-about #card-container .card .card__overlay a {
  display: block;
}

#section-about #card-container .card .card__overlay:hover {
  opacity: 0;
}

#section-about #card-container .card .card__overlay:hover ~ .card__content .card__content__info {
  height: 90%;
}

#section-about #card-container .card .card__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#section-about #card-container .card .card__content .card__content__image {
  width: 100%;
  height: 100%;
  margin: 1rem 0;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: scale(90%);
          transform: scale(90%);
}

#section-about #card-container .card .card__content .card__content__info {
  width: 100%;
  height: 0px;
  background-color: #0d0d0d78;
  -webkit-transition: all ease-in-out 700ms;
  transition: all ease-in-out 700ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: top;
      -ms-flex-pack: top;
          justify-content: top;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#section-about #card-container .card .card__content .card__content__info .card__content__text {
  text-align: justify;
}

#section-about #card-container .card .card__content .card__content__info .card__content__technologies {
  width: 100%;
}

#section-about #card-container .card .card__content .card__content__info .card__content__technologies .card__content__technologies__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#section-about #card-container .card .card__content .card__content__info .card__content__technologies .card__content__technologies__list li {
  font-weight: 700;
}

#section-about #card-container .card .card__content .card__content__info .card__content__technologies .card__content__technologies__list li:nth-child(even) {
  padding: 1rem;
}

@media only screen and (max-width: 500px) {
  #section-about #card-container {
    width: 100%;
    padding: 1.5rem 0;
    overflow-x: scroll;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
  }
  #section-about #card-container .card {
    width: 250px;
    height: 150px;
  }
  #section-about #card-container .card:nth-child(even) {
    margin: 0;
  }
  #section-about #card-container .card .card__content__info {
    display: none !important;
  }
}

#section-about #card-container {
  width: 600px;
  gap: 0px;
  -ms-grid-columns: (minmax(125px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
}

#section-about #card-container .card {
  border: none;
  height: 125px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  background-color: #171717;
}

#section-about #card-container .card .card__overlay:hover ~ .card__content .card__content__text {
  color: #4527A0;
}

#section-about #card-container .card .card__content .card__content__text {
  font-weight: bold;
}

@media only screen and (max-width: 500px) {
  #section-about .section-about__title {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
  #section-about .section-about__text {
    width: 100%;
  }
}

#header {
  top: 0;
  z-index: 9;
  width: 100%;
  height: 50px;
  position: -webkit-sticky;
  position: sticky;
  background-color: #1c1c1c;
  -webkit-box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.49);
          box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.49);
}

#header .header__navbar {
  height: 100%;
  padding: 1rem !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#header .header__navbar .header__navbar__list .header__navbar__item .header__navbar__brand {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: inline-block;
  color: #4527a0;
  font-size: 2.5rem;
  font-weight: bolder;
  text-shadow: -2px -2px 1px #e43c3c;
}

#header .header__navbar .header__navbar__list .header__navbar__item .header__navbar__brand .header__navbar__brand__image {
  width: 45px;
  height: auto;
}

#header .header__navbar .header__navbar__list:nth-child(even) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .header__navbar .header__navbar__list:nth-child(even) .header__navbar__item .header__navbar__link {
  font-size: 1.2rem;
  font-weight: bold;
  color: #6a6b6cc4;
  -webkit-transition: color ease-out 250ms;
  transition: color ease-out 250ms;
}

#header .header__navbar .header__navbar__list:nth-child(even) .header__navbar__item .header__navbar__link:hover {
  color: #fff;
}

#header .header__navbar .header__navbar__list:nth-child(even) .header__navbar__item:nth-child(even) {
  margin: 0 1.2rem;
}

#footer {
  margin-top: 2.5rem;
}

#footer .footer__list .footer__item .footer__copyrights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#footer .footer__list .footer__item .footer__copyrights,
#footer .footer__list .footer__item .footer__copyrights a {
  color: #afafaf;
}

#footer .footer__list .footer__item .footer__copyrights .footer__copyrights__link:hover {
  color: #e4e4e4;
}

@media only screen and (max-width: 500px) {
  #footer .footer__list .footer__item .footer__copyrights {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#social-midias {
  left: 1px;
  bottom: 2px;
  width: 3.3rem;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#social-midias .social-midias__list .social-midias__list__item:nth-child(even) {
  padding: 5px 0;
}

#social-midias .social-midias__list .social-midias__list__item .social-midias__link__image {
  width: 40px;
  height: 40px;
  fill: #fff;
  -webkit-box-shadow: 4px 4px 0px #3c4043;
          box-shadow: 4px 4px 0px #3c4043;
  -webkit-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
}

#social-midias .social-midias__list .social-midias__list__item .social-midias__link__image:hover {
  fill: #3c4043;
  -webkit-box-shadow: 5px 5px 0px #fff;
          box-shadow: 5px 5px 0px #fff;
}

body {
  font-family: sans-serif;
}

.box {
  width: 300px;
  height: 350px;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(-60px);
          transform: translateZ(-60px);
  -webkit-animation: myfirst 50s linear 5s infinite alternate;
          animation: myfirst 50s linear 5s infinite alternate;
  -webkit-transform: translateZ(-200px) rotateY(0deg) rotateX(-90deg) rotateZ(0deg);
          transform: translateZ(-200px) rotateY(0deg) rotateX(-90deg) rotateZ(0deg);
}

.box__face {
  z-index: 0;
  position: absolute;
  border: 2px solid white;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.box__face--front,
.box__face--back {
  width: 400px;
  height: 200px;
  line-height: 200px;
}

.box__face--right,
.box__face--left {
  width: 100px;
  height: 200px;
  left: 100px;
  line-height: 200px;
}

.box__face--right {
  width: 100px;
  height: 200px;
  left: 200px;
  line-height: 200px;
}

.box__face--top,
.box__face--bottom {
  width: 400px;
  height: 100px;
  top: 50px;
  line-height: 100px;
}

.box__face--front {
  background: rgba(0, 0, 0, 0.7);
}

.box__face--right {
  background: yellow;
}

.box__face--back {
  background: rgba(0, 0, 0, 0.7);
}

.box__face--left {
  background: rgba(0, 0, 0, 0.7);
}

.box__face--top {
  background: blue;
}

.box__face--bottom {
  background: rgba(0, 0, 0, 0.7);
}

.box__face--front {
  -webkit-transform: rotateY(0deg) translateZ(50px);
          transform: rotateY(0deg) translateZ(50px);
}

.box__face--back {
  -webkit-transform: rotateY(180deg) translateZ(50px);
          transform: rotateY(180deg) translateZ(50px);
}

.box__face--right {
  -webkit-transform: rotateY(90deg) translateZ(150px);
          transform: rotateY(90deg) translateZ(150px);
}

.box__face--left {
  -webkit-transform: rotateY(-90deg) translateZ(150px);
          transform: rotateY(-90deg) translateZ(150px);
}

.box__face--top {
  -webkit-transform: rotateX(90deg) translateZ(100px);
          transform: rotateX(90deg) translateZ(100px);
}

.box__face--bottom {
  -webkit-transform: rotateX(-90deg) translateZ(100px);
          transform: rotateX(-90deg) translateZ(100px);
}

label {
  margin-right: 10px;
}

#panda {
  position: relative;
}

.scene2 {
  position: absolute;
  top: 0;
  width: 300px;
  height: 50px;
  border: 1px solid #CCC;
  margin: 80px 0;
  -webkit-perspective: 300px;
          perspective: 300px;
}

.scene2 .box {
  -webkit-transform: translateZ(-200px) rotateY(0deg) rotateX(-90deg) rotateZ(0deg);
          transform: translateZ(-200px) rotateY(0deg) rotateX(-90deg) rotateZ(0deg);
}

.scene2 .box .box__face--front,
.scene2 .box .box__face--back {
  width: 400px;
  height: 200px;
  line-height: 200px;
}

.scene2 .box .box__face--right,
.scene2 .box .box__face--left {
  width: 100px;
  height: 200px;
  left: 100px;
  line-height: 200px;
}

.scene2 .box .box__face--right {
  width: 100px;
  height: 200px;
  left: 200px;
  line-height: 200px;
}

.scene2 .box .box__face--top,
.scene2 .box .box__face--bottom {
  width: 400px;
  height: 50px;
  top: 75px;
  line-height: 100px;
}

.scene {
  position: absolute;
  width: 300px;
  height: 50px;
  border: 1px solid #CCC;
  -webkit-perspective: 300px;
          perspective: 300px;
}

.box {
  width: 300px;
  height: 350px;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(-60px);
          transform: translateZ(-60px);
  -webkit-animation: myfirst 50s linear 5s infinite alternate;
          animation: myfirst 50s linear 5s infinite alternate;
  -webkit-transform: translateZ(-200px) rotateY(0deg) rotateX(-90deg) rotateZ(0deg);
          transform: translateZ(-200px) rotateY(0deg) rotateX(-90deg) rotateZ(0deg);
}

.box__face {
  position: absolute;
  border: 2px solid white;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}

#section-contact {
  height: auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: default;
      -ms-flex-pack: default;
          justify-content: default;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#section-contact .section-contact__header .section-contact__header__text {
  text-align: center;
}

#section-contact .section-contact__form {
  width: 100%;
  max-width: 600px;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: default;
      -ms-flex-pack: default;
          justify-content: default;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#section-contact .section-contact__form .section-contact__inputs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#section-contact .section-contact__form .section-contact__inputs input:nth-child(even) {
  margin-left: 5px;
}

#section-contact .section-contact__form .section-form__text,
#section-contact .section-contact__form .section-form__message,
#section-contact .section-contact__form #section-from__submit {
  width: 100%;
  height: 50px;
  padding: 15px;
  color: #cccccc;
  margin-bottom: 5px;
  border: 1px solid #3436386c;
  background-color: #171717;
}

#section-contact .section-contact__form #section-from__submit {
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
}

#section-contact .section-contact__form #section-from__submit:hover {
  color: #fff;
  background-color: #121212;
}

#section-contact .section-contact__form .section-form__message {
  height: 200px;
}

@media only screen and (max-width: 500px) {
  #section-contact .section-contact__form .section-form__text {
    font-size: 1rem;
  }
  #section-contact .section-contact__form .section-contact__inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#section-portfolio {
  height: auto;
  padding-bottom: 65px;
}

#section-portfolio .section-portfolio__text {
  width: 50%;
  margin-bottom: 2rem;
}

#section-portfolio #card-container {
  gap: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100%, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
}

#section-portfolio #card-container .card {
  height: 450px;
  margin: 0 auto;
  max-width: 800px;
  overflow: hidden;
  position: relative;
  border-radius: 2px;
  background-color: #171717;
  border: 1px solid #3c40431d;
  -webkit-box-shadow: 3px 2px 3px rgba(39, 38, 38, 0.088);
          box-shadow: 3px 2px 3px rgba(39, 38, 38, 0.088);
}

#section-portfolio #card-container .card:nth-child(even) {
  margin: 2rem auto;
}

#section-portfolio #card-container .card .card__overlay {
  z-index: 7;
  opacity: 15%;
  position: absolute;
  background-color: black;
  -webkit-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
}

#section-portfolio #card-container .card .card__overlay,
#section-portfolio #card-container .card .card__overlay a {
  width: 100%;
  height: 100%;
}

#section-portfolio #card-container .card .card__overlay a {
  display: block;
}

#section-portfolio #card-container .card .card__overlay:hover {
  opacity: 0;
}

#section-portfolio #card-container .card .card__overlay:hover ~ .card__content .card__content__info {
  height: 90%;
}

#section-portfolio #card-container .card .card__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#section-portfolio #card-container .card .card__content .card__content__image {
  width: 100%;
  height: 100%;
  margin: 1rem 0;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: scale(90%);
          transform: scale(90%);
}

#section-portfolio #card-container .card .card__content .card__content__info {
  width: 100%;
  height: 0px;
  background-color: #0d0d0d78;
  -webkit-transition: all ease-in-out 700ms;
  transition: all ease-in-out 700ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: top;
      -ms-flex-pack: top;
          justify-content: top;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#section-portfolio #card-container .card .card__content .card__content__info .card__content__text {
  text-align: justify;
}

#section-portfolio #card-container .card .card__content .card__content__info .card__content__technologies {
  width: 100%;
}

#section-portfolio #card-container .card .card__content .card__content__info .card__content__technologies .card__content__technologies__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#section-portfolio #card-container .card .card__content .card__content__info .card__content__technologies .card__content__technologies__list li {
  font-weight: 700;
}

#section-portfolio #card-container .card .card__content .card__content__info .card__content__technologies .card__content__technologies__list li:nth-child(even) {
  padding: 1rem;
}

@media only screen and (max-width: 500px) {
  #section-portfolio #card-container {
    width: 100%;
    padding: 1.5rem 0;
    overflow-x: scroll;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
  }
  #section-portfolio #card-container .card {
    width: 250px;
    height: 150px;
  }
  #section-portfolio #card-container .card:nth-child(even) {
    margin: 0;
  }
  #section-portfolio #card-container .card .card__content__info {
    display: none !important;
  }
}

@media only screen and (max-width: 500px) {
  #section-portfolio .section-portfolio__text {
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */