$margin-page: 3.5rem;

* {
    margin: 0;
    padding: 0;
    outline: 0;
    color: #fff;
    line-height: 1.5;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

@mixin flexCenter($align_items, $justify_content, $flex_direction) {
    display: flex;
    align-items: $align_items;
    justify-content: $justify_content;
    flex-direction: $flex_direction;
}

html {
    scroll-behavior: smooth;
    background-color: #1C1C1C;
}

section,
header nav,
footer {
    padding: 0 $margin-page;
}

main {
    #section-home,
    #section-portfolio,
    #section-about {
        border-radius: 5px;
        box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.200);
    }

    section {
        height: 100vh;
        padding-top: 45px;
        overflow: hidden;

        h1[class*="__title"] {
            font-size: 3.5rem;
            cursor: default;
            text-shadow: 5px 5px 0px #3c4043c4;
        }

        p[class*="__text"] {
            max-width: 550px;
            font-size: 1.2rem;
        }

    }
}

@import '../components/Home/_home';
@import '../components/About/_about';
@import '../components/Header/_header';
@import '../components/Footer/_footer';
@import '../components/Social/_social';
// @import '../components/Modal/_modal';
@import '../components/Contact/_contact';
@import '../components/Portfolio/_portfolio';