#social-midias {
    left: 12px;
    bottom: 2px;
    width: 3.3rem;
    position: fixed;
    @include flexCenter(center, center, column);

    .social-midias__list {
        .social-midias__list__item {
            &:nth-child(even) {
                padding: 5px 0;
            }

            .social-midias__link__image {
                width: 40px;
                height: 40px;
                fill: #fff;
                box-shadow: 4px 4px 0px #3c4043;
                transition: all ease-in-out 500ms;

                &:hover {
                    fill: #3c4043;
                    box-shadow: 5px 5px 0px #fff;
                }
            }
        }
    }
}