body {
  font-family: sans-serif;
}

.box {
  width: 300px;
  height: 350px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-60px);
  animation: myfirst 50s linear 5s infinite alternate;
  transform:
    translateZ(-200px) rotateY(0deg) rotateX(-90deg) rotateZ(0deg);
}

.box__face {
  z-index: 0;
  position: absolute;
  border: 2px solid white;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.box__face--front,
.box__face--back {
  width: 400px;
  height: 200px;
  line-height: 200px;
}

.box__face--right,
.box__face--left {
  width: 100px;
  height: 200px;
  left: 100px;
  line-height: 200px;
}

.box__face--right {
  width: 100px;
  height: 200px;
  left: 200px;
  line-height: 200px;
}

.box__face--top,
.box__face--bottom {
  width: 400px;
  height: 100px;
  top: 50px;
  line-height: 100px;
}

.box__face--front {
  background: rgba(0, 0, 0, 0.7);
}

.box__face--right {
  background: rgb(255, 255, 0);
}

.box__face--back {
  background: hsla(0, 0%, 0%, 0.7);
}

.box__face--left {
  background: hsla(0, 0%, 0%, 0.7);
}

.box__face--top {
  background: hsl(240, 100%, 50%);
}

.box__face--bottom {
  background: hsla(0, 0%, 0%, 0.7);
}

.box__face--front {
  transform: rotateY(0deg) translateZ(50px);
}

.box__face--back {
  transform: rotateY(180deg) translateZ(50px);
}

.box__face--right {
  transform: rotateY(90deg) translateZ(150px);
}

.box__face--left {
  transform: rotateY(-90deg) translateZ(150px);
}

.box__face--top {
  transform: rotateX(90deg) translateZ(100px);
}

.box__face--bottom {
  transform: rotateX(-90deg) translateZ(100px);

}

label {
  margin-right: 10px;
}

#panda {
  position: relative;
}

.scene2 {
  position: absolute;
  top: 0;
  width: 300px;
  height: 50px;
  border: 1px solid #CCC;
  margin: 80px 0;

  perspective: 300px;

  .box {
    transform:
      translateZ(-200px) rotateY(0deg) rotateX(-90deg) rotateZ(0deg);

      .box__face--front,
      .box__face--back {
        width: 400px;
        height: 200px;
        line-height: 200px;
      }

      .box__face--right,
      .box__face--left {
        width: 100px;
        height: 200px;
        left: 100px;
        line-height: 200px;
      }

      .box__face--right {
        width: 100px;
        height: 200px;
        left: 200px;
        line-height: 200px;
      }

      .box__face--top,
      .box__face--bottom {
        width: 400px;
        height: 50px;
        top: 75px;
        line-height: 100px;
      }
  }

}

.scene {
  position: absolute;
  width: 300px;
  height: 50px;
  border: 1px solid #CCC;
  perspective: 300px;
}

.box {
  width: 300px;
  height: 350px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-60px);
  animation: myfirst 50s linear 5s infinite alternate;
  transform:
    translateZ(-200px) rotateY(0deg) rotateX(-90deg) rotateZ(0deg);
}

.box__face {
  position: absolute;
  border: 2px solid white;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}