#section-about {
    height: auto;
    overflow: hidden;
    @include flexCenter(center, space-between, row);

    .section-about__content {
        z-index: 1;
        height: 100%;
        align-self: baseline;

        .section-about__technologies {
            margin: 2.5rem 0;
            @include flexCenter(center, default, row);

            .section-about__technologies__list {
                &:first-child {
                    margin-right: 10rem;
                }

                .technologies__item {
                    cursor: pointer;
                    font-weight: bold;
                    transition: all ease-in-out 500ms;
                    text-shadow: 4px 4px 0px #3c4043;

                    &:hover {
                        color: #3c4043c4;
                        text-shadow: 5px 5px 0px #fff;
                    }
                }
            }

        }
    }

    @import './fakeTesserect';

}


@media only screen and (max-width: 500px) {
    #section-about {
        flex-direction: column;

        .section-about__content {
            .section-about__technologies {
                @include flexCenter(center, space-between, row);
                .section-about__technologies__list:first-child {
                    margin-right: 0;
                }
            }
        }

        .section-about__title {
            width: min-content;
        }

        .section-about__text {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 850px) {}