#about {
    overflow: hidden;
    @include flexCenter(center, space-between, row);

    .about__content {
        z-index: 1;
        align-self: flex-start;

        .about__text {
            margin-bottom: 1.25rem;
        }

        .about__technologies {
            margin-top: 3.5rem;
            @include flexCenter(default, space-between, row);

            .about__technologies__list {
                height: 100%;

                .technologies__item {
                    cursor: pointer;
                    font-weight: bold;
                    position: relative;
                }
            }

        }
    }
}

@import '../Cube/_cubeScenes';

@media only screen and (max-width: 1280px) {
    #about {
        height: auto;
    }
}


@media only screen and (min-width: 100px) and (max-width: 850px) {
    #about {
        height: auto;
        padding-bottom: 2rem;
        @include flexCenter(center, space-between, column);

        .about__content {
            .about__technologies {
                @include flexCenter(default, space-between, row);

                .about__technologies__list {
                    width: min-content;

                    &:first-child {
                        margin-right: 0;
                    }

                    & .technologies__item:first-child {
                        margin-bottom: 5px;
                    }
                }
            }
        }

        .about__text {
            width: 100%;
        }
    }
}