.technologies__cubes {
  z-index: 0;
  width: 40%;
  height: 500px;
  position: relative;
  @include flexCenter(center, center, row);

  .scene1,
  .scene2,
  .scene3 {
    width: 200px;
    height: 200px;
    perspective: 400px;
  }

  .scene1,
  .scene3 {
    position: absolute;
    transform: translate(50%, 50%);
  }

  // Inner
  .scene1 {
    transform: scale(1.3);
  }

  // Outter
  .scene2 {
    transform: scale(2);
  }

  // InnerInner
  .scene3 {
    transform: scale(0.6);
  }

  .cube__outter,
  .cube__inner,
  .cube__inner__inner {
    width: 200px;
    height: 200px;
    position: absolute;
    transform-style: preserve-3d;

    & div[class*="corner__"] {
      font-size: 1rem !important;
      border: 0px !important;
    }

    .corner__A,
    .corner__B {
      left: 100px;
      transform: translateZ(100px) rotateY(0deg);
    }

    .corner__C,
    .corner__D {
      right: 100px;
      transform: translateZ(100px) rotateY(0deg);
    }

    .corner__E,
    .corner__F {
      left: -100px;
      transform: translateZ(-100px) rotateY(180deg);
    }

    .corner__G,
    .corner__H {
      right: -100px;
      transform: translateZ(-100px) rotateY(180deg);
    }

    .corner__A {
      top: -100px;
    }

    .corner__B {
      top: 100px;
    }

    .corner__C {
      top: 100px;
    }

    .corner__D {
      top: -100px;
    }

    .corner__E {
      top: 100px;
    }

    .corner__F {
      top: -100px;
    }

    .corner__G {
      top: 100px;
    }

    .corner__H {
      top: -100px;
    }

  }

  // .cube__outter,
  // .cube__inner,
  // .cube__inner__inner {
  //   transform: translateZ(-100px) rotateY(360deg) rotateX(360deg) rotateZ(360deg);
  // }

  .cube__outter {
    animation: outter 25s linear infinite alternate;
    transform: translateZ(-50px) rotateY(0deg) rotateX(0deg) rotateZ(0deg)
  }

  .cube__inner {
    animation: inner 15s linear infinite alternate;
    transform: translateZ(-50px) rotateY(0deg) rotateX(90deg) rotateZ(-135deg)
  }

  .cube__inner__inner {
    animation: innerInner 20s linear infinite alternate;
    transform: translateZ(-50px) rotateY(0deg) rotateX(-90deg) rotateZ(135deg)
  }

  @keyframes outter {
    0% {
      transform: translateZ(-50px) rotateY(0deg) rotateX(0deg) rotateZ(0deg);
    }

    20% {
      transform: translateZ(-50px) rotateY(72deg) rotateX(72deg) rotateZ(72deg)
    }

    40% {
      transform: translateZ(-50px) rotateY(144deg) rotateX(144deg) rotateZ(144deg)
    }

    60% {
      transform: translateZ(-50px) rotateY(216deg) rotateX(216deg) rotateZ(216deg)
    }

    80% {
      transform: translateZ(-50px) rotateY(288deg) rotateX(288deg) rotateZ(288deg)
    }

    100% {
      transform: translateZ(-50px) rotateY(360deg) rotateX(360deg) rotateZ(0deg);
    }

  }

  @keyframes inner {
    0% {
      transform: translateZ(-50px) rotateY(-150deg) rotateX(30deg) rotateZ(-36deg)
    }

    20% {
      transform: translateZ(-50px) rotateY(-120deg) rotateX(60deg) rotateZ(-72deg)
    }

    40% {
      transform: translateZ(-50px) rotateY(-90deg) rotateX(90deg) rotateZ(-144deg)
    }

    60% {
      transform: translateZ(-50px) rotateY(-60deg) rotateX(120deg) rotateZ(-216deg)
    }

    80% {
      transform: translateZ(-50px) rotateY(-30deg) rotateX(150deg) rotateZ(-288deg)
    }

    100% {
      transform: translateZ(-50px) rotateY(180deg) rotateX(180deg) rotateZ(-360deg)
    }

  }

  @keyframes innerInner {
    0% {
      transform: translateZ(-50px) rotateY(-0deg) rotateX(-240deg) rotateZ(36deg)
    }

    20% {
      transform: translateZ(-50px) rotateY(-72deg) rotateX(-210deg) rotateZ(72deg)
    }

    40% {
      transform: translateZ(-50px) rotateY(-144deg) rotateX(-180deg) rotateZ(144deg)
    }

    60% {
      transform: translateZ(-50px) rotateY(-216deg) rotateX(-150deg) rotateZ(216deg)
    }

    80% {
      transform: translateZ(-50px) rotateY(-288deg) rotateX(-120deg) rotateZ(288deg)
    }

    100% {
      transform: translateZ(-50px) rotateY(-360deg) rotateX(-90deg) rotateZ(360deg)
    }

  }

  .cube__face {
    width: 200px;
    height: 200px;
    position: absolute;
    line-height: 200px;
  }

  .cube__outter .cube__face .cube__face,
  .cube__inner .cube__face .cube__face,
  .cube__inner__inner .cube__face .cube__face {
    border: 2px solid white;
  }

  .cube__outter .cube__face .cube__face {
    border-color: #3c404331;
    animation: outterStroke 15s linear infinite alternate;
  }

  .cube__inner .cube__face .cube__face {
    border-color: #3c40439a;
    animation: innerStroke 20s linear infinite alternate;
  }

  .cube__inner__inner .cube__face .cube__face {
    border-color: #3c4043;
    animation: innerInnerStroke 25s linear infinite alternate;
  }

  @keyframes outterStroke {
    0% {
      border-radius: 5%;
      border-color: #3c40433b;
    }

    20% {
      border-radius: 12%;
    }

    40% {
      border-radius: 24%;
    }

    60% {
      border-radius: 36%;
    }

    80% {
      border-radius: 48%;
    }

    100% {
      border-radius: 60%;
      border-color: #3c404320;
    }
  }

  @keyframes innerStroke {
    0% {
      border-radius: 5%;
      border-color: #3c4043ab;
    }

    20% {
      border-radius: 12%;
    }

    40% {
      border-radius: 24%;
    }

    60% {
      border-radius: 36%;
    }

    80% {
      border-radius: 48%;
    }

    100% {
      border-radius: 60%;
      border-color: #3c40436d;
    }
  }

  @keyframes innerInnerStroke {
    0% {
      border-radius: 5%;
      border-color: #3c4043;
      box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0);
    }

    20% {
      border-radius: 12%;
    }

    40% {
      border-radius: 24%;
    }

    60% {
      border-radius: 36%;
    }

    80% {
      border-radius: 48%;
    }

    100% {
      border-radius: 60%;
      border-color: rgba(255, 255, 255, 0.508);
      box-shadow: 1px 1px 4px 1px rgba(255, 255, 255, 0.508);
    }
  }

  .cube__face--front {
    transform: rotateY(0deg) translateZ(100px);
  }

  .cube__face--right {
    transform: rotateY(90deg) translateZ(100px);
  }

  .cube__face--back {
    transform: rotateY(180deg) translateZ(100px);
  }

  .cube__face--left {
    transform: rotateY(-90deg) translateZ(100px);
  }

  .cube__face--top {
    transform: rotateX(90deg) translateZ(100px);
  }

  .cube__face--bottom {
    transform: rotateX(-90deg) translateZ(100px);
  }

}


@media only screen and (max-width: 500px) {

  .technologies__cubes {
    width: 100%;
    height: 300px;
    margin-top: 2.5rem;

    // Outter
    .scene2 {
      transform: scale(1.2) !important;
    }

    // Inner
    .scene1 {
      transform: scale(0.7) !important;
    }

    // InnerInner
    .scene3 {
      transform: scale(0.4) !important;
    }
  }

}

@media only screen and (max-width: 850px) {
  .technologies__cubes {

    // Inner
    .scene1 {
      transform: scale(1.1);
    }

    // Outter
    .scene2 {
      transform: scale(1.5);
    }

    // InnerInner
    .scene3 {
      transform: scale(0.4);
    }
  }
}