#home {
    position: relative;
    padding: 0 !important;
    box-shadow: none !important;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;

    .home__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .home__content {
        top: 30%;
        left: 50%;
        z-index: 8;
        position: absolute;
        transform: translate(-50%, -50%);

        .home__content__title {
            margin-top: 0 !important;
            font-size: 3.5rem;
            float: left;

            &:first-child {
                margin-right: 1rem;
            }
        }

        .home__content__text {
            cursor: default;
            text-align: center;
        }
    }
}

@media only screen and (max-width: 850px) {
    #home {
        .home__content {
            @include flexCenter(center, center, column);

            .home__content__title {
                &:nth-child(even) {
                    width: max-content !important;
                }
            }
        }

    }
}

@media only screen and (max-width: 500px) {
    #home {
        .home__content {
            @include flexCenter(center, center, column);

            .home__content__title {
                &:nth-child(even) {
                    width: max-content !important;
                }
            }
        }

    }
}