#home {

    @include flexCenter(center, flex-start, default);

    .home__content {
        // margin-bottom: 15vh;
        @include flexCenter(flex-start, default, column);

        .home__content__title,
        .home__content__text {
            margin: 0 0 1rem 0;
        }

        .home__content__title {
            font-size: 6rem;
            height: min-content;
        }
    }
}

@media only screen and (max-width: 500px) {
    #home {
    
        .home__content {
            margin-bottom: 0;
            @include flexCenter(flex-start, center, column);
    
            .home__content__title {
                font-size: 4.2rem;
            }
        }
    }
}
