.technologies__cubes {
  z-index: 0;
  width: 50%;
  height: 500px;
  position: relative;
  @include flexCenter(center, center, row);

  .scene:nth-child(1),
  .scene:nth-child(2),
  .scene:nth-child(3) {
    width: 200px;
    height: 200px;
    perspective: 400px;
  }

  .scene:nth-child(1),
  .scene:nth-child(3) {
    position: absolute;
    transform: translate(50%, 50%);
  }

  // Outter
  .scene:nth-child(1) {
    transform: scale(0);
    transition: all ease-out 1.7s;
    opacity: 0;

    &.--fadeincube {
      // transform: scale(2.3);
      transform: scale(230%);
      opacity: 1;
    }
  }

  // Inner
  .scene:nth-child(2) {
    transform: scale(0);
    animation: fadeCubeInner 4s linear;
    transition: transform ease-out 2.1s;

    &.--fadeincube {
      // transform: scale(1.45);
      transform: scale(145%);
    }
  }

  // InnerInner
  .scene:nth-child(3) {
    transform: scale(0);
    animation: fadeCubeInnerInner 9s linear;
    transition: transform ease-out 2.3s;

    &.--fadeincube {
      // transform: scale(0.6);
      transform: scale(60%);
    }
  }


}

@import './_cubeFaces';

@import './_cubeAnimation';

// // Tablet Screen
// @media only screen and (min-width: 600px) and (max-width: 1024px) {

//   .technologies__cubes {

//     // Outter
//     .scene2 {
//       transform: scale(1.9);
//       // &.--fadeincube {
//       //   opacity: 1;
//       // }
//     }

//     // Inner
//     .scene1 {
//       transform: scale(1.35);
//       // &.--fadeincube {
//       //   opacity: 1;
//       // }
//     }
//   }

// }

// // SmartPhone Screen
// @media only screen and (min-width: 100px) and (max-width: 600px) {

//   .technologies__cubes {
//     width: 100%;
//     height: 300px;
//     margin-top: 2.5rem;

//     // Outter
//     .scene2 {
//       &.--fadeincube {
//         transform: scale(1.2);

//       }
//     }

//     // Inner
//     .scene1 {
//       &.--fadeincube {
//         transform: scale(0.7);
//       }
//     }

//     // InnerInner
//     .scene3 {
//       &.--fadeincube {
//         transform: scale(0.4);
//       }
//     }
//   }

// }

// // SmartPhone Screen
// @media only screen and (min-width: 100px) and (max-width: 360px) {

//   .technologies__cubes {
//     width: 100%;
//     height: 300px;
//     margin-top: 2.5rem;

//     // Outter
//     .scene2 {
//       transform: scale(1.2);
//     }

//     // Inner
//     .scene1 {
//       transform: scale(0.7);
//     }

//     // InnerInner
//     .scene3 {
//       transform: scale(0.4);
//     }
//   }

// }