#footer {
    margin-top: 2.5rem;

    .footer__list {
        .footer__item {
            .footer__copyrights {
                @include flexCenter(center, center, row);

                &,
                a {
                    color: #afafaf;
                }

                .footer__copyrights__link:hover {
                    color: #e4e4e4;
                }
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    #footer {
        .footer__list {
            .footer__item {
                .footer__copyrights {
                    @include flexCenter(center, center, column);
                }
            }
        }
    }
}