.--fadetoleft {
    animation: fadeToLeft 2s;
}

.--fadetoright {
    animation: fadetoright 2s;
}

@keyframes fadeToLeft {
    0% {
        right: 100%;
        opacity: 0;
    }

    25% {
        opacity: 15%;
    }

    50% {
        opacity: 25%;
    }

    75% {
        opacity: 65%;
    }

    100% {
        right: 0px;
        opacity: 100%;
    }
}

@keyframes fadetoright {
    0% {
        right: -100%;
        opacity: 0;
    }

    25% {
        opacity: 15%;
    }

    50% {
        opacity: 25%;
    }

    75% {
        opacity: 65%;
    }

    100% {
        right: 0px;
        opacity: 100%;
    }
}